@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');


:root{
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
}

.sidebar-nav{
   width: var(--offcanvas-width);
}
.sidebar-link{
    display: flex;
    align-items: center;
}
.sidebar-link .right-icon{
    display: inline-flex;
}

@media (min-width: 992px) {

    body{
        overflow: auto !important;
    }
    .offcanvas-backdrop::before{
        display: none;
    }
    main{
        margin-left: var(--offcanvas-width);
    }
    .main1{
        height: calc(100vh - var(--topNavbarHeight));
        width: 75%;
    }
    .notificationCenter{
        height: calc(100vh - var(--topNavbarHeight));
        width: 25%;
    }
    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
    
}

h5{
    font-family: 'Roboto', sans-serif;
}